mat-card-content {
    padding: 0;
}

tr {
    position: relative;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            &:first-child {
                padding-left: 16px;
            }
        }

    }

    th {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        font-size: 14px;
        text-align: start;
    }
}

.trash-container {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
}