mat-card-content {
    padding: 0;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            &:first-child {
                padding-left: 16px;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

    }

    th {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        font-size: 14px;
        text-align: start;
    }
}

.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.sort {
    cursor: pointer;
    position: absolute;
    bottom: -8px;

    &:hover {
        font-size: 28px;
    }
}

.sort-wrapper {
    display: flex;
    align-items: baseline;
}

.sort-helper {
    height: 100%;
    position: relative;
}